@import "mixins";

.app {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2em;
  width: 100%;
  height: 100%;
  background-color: $app-bg;

  &__header {
    height: 5rem;
    background-image: $app-header-bg;
    border-radius: 2em 2em 0.5em 0.5em;

    &-inner {
      display: flex;
      height: calc(100% - 1.5em);
      padding-top: 1.5em;
    }

    &-back-btn {
      display: flex;
      width: $standard-space;
      align-items: center;
      justify-content: center;
      margin: 0 0.5em;
      color: $white;
    }

    &-content {
      display: flex;
      flex-grow: 2;
      position: relative;
      align-items: center;
      color: $white;
    }

    &-user-name {
      font-weight: $font-weight-md;
    }

    &-user-desc {
      font-weight: $font-weight-sm;
      font-size: pxToRem(10);
    }

    &-user-picture {
      width: 40px;
      height: 40px;
      border: 2px solid $white;
      margin-right: 0.5em;

      &, img {
        border-radius: 50%;
      }
    }

    &-opt-btn {
      display: flex;
      width: $standard-space;
      align-items: center;
      justify-content: center;
      margin: 0 0.5em;
    }
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
  }

  &__body {
    border-radius: 0 0 3em 3em;
    height: calc(100% - 7em);
    position: relative;
    padding: 1em;

    .app__input {
      position: absolute;
      display: flex;
      bottom: 0;
      border-radius: 3em;
      background-color: $white;
      width: calc(100% - 2em);
      margin-bottom: 1em;
      height: 48px;
      color: $grayish-blue;

      &-placeholder {
        margin-left: 1.5em;
        line-height: 48px;
      }

      &-send-btn {
        position: absolute;
        right: 0.5em;
        border-radius: 2em;
        width: calc(48px - 0.5em);
        height: calc(48px - 0.5em);
        top: 50%;
        transform: translateY(-50%);
        background-color: $very-dark-desaturated-violet;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
      }
    }
  }

  &__message {

  }
}
