$content-width: 80%;
$product-showcase-height: 90vh;
$top-heading-buttons: 1.5em;
$standard-margin: 0.5em;
$app-input-w-h: 35px;
$app-send-btn: calc(#{$app-input-w-h} - #{$standard-margin});
$app-message: 60%;
$border-radius-xs: 0.2em;
$border-radius-sm: 0.5em;
$border-radius-md: 1em;
$border-radius-lg: 2em;
$border-radius-xl: 3em;
